
extends layout

block content
	- user = typeof(userdata) != 'undefined' ? userdata : {}
	- lobbies = typeof(lobbydata) != 'undefined' ? lobbydata : {}
	
	include components/nav
	
	- each lobby, name in lobbies 
		p #{name} (Slots: #{lobby.getSlots()}, #{lobby.getOwner()})
	
	div.footer

block scripts
	script(src='/js/home.js' type='text/javascript')
