
extends layout

block content
	- user = typeof(userdata) != 'undefined' ? userdata : {}
	- lobby = typeof(lobbydata) != 'undefined' ? lobbydata : {}
	
	include components/nav
	
	div.footer

block scripts
	script(src='/js/lobby.js' type='text/javascript')
