
/* Mandatory housekeeping */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	word-wrap: break-word;
	overflow-y: hidden;
	/* Background */
	background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

/* Styling */

table, th, td {
	border: 1px solid black;
}

#navform {
	height: 100%;
}
